* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #000;
    color: #f5d37a;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: #111;
    border-bottom: 2px solid #d4af37;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #d4af37;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #f5d37a;
}

nav a:hover {
    color: #d4af37;
}

/* Hero */
.hero {
    padding: 100px 10%;
}

.hero h1 {
    font-size: 48px;
    color: #d4af37;
}

.hero p {
    margin: 20px 0;
    font-size: 18px;
}

/* Button */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #d4af37;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn:hover {
    background-color: #b8962e;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #111;
    margin-top: 50px;
}
/*black and gol toggle*/
@media (max-width: 768px) {
    header {
        flex-direction: column;
    }

    nav {
        margin-top: 10px;
    }

    .hero h1 {
        font-size: 32px;
    }
}

