body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

header {
    background: #1e3d59;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.hero {
 text-align: center;
    padding: 80px 20px;
    background: url('https://images.unsplash.com/photo-1493809842364-78817add7ffb') no-repeat center;
    background-size: cover;
    color: white;
}

.hero input {
    padding: 10px;
    width: 250px;
    margin-top: 20px;
}

.properties {
      padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.property {
   background: white;
    width: 300px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.property img {
    width: 100%;
    border-radius: 10px;
}

.about, .contact {
    padding: 40px;
    text-align: center;
}

.contact form {
    max-width: 400px;
    margin: auto;
}

.contact input, .contact textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    background: #1e3d59;
    color: white;
    border: none;
    cursor: pointer;
}

footer {
    background: #1e3d59;
    color: white;
    text-align: center;
    padding: 10px;
}
@media (max-width: 768px) {

    header {
        flex-direction: column;
        text-align: center;
    }

    nav {
        margin-top: 10px;
    }

    .hero {
        padding: 60px 20px;
    }

    .property {
        width: 90%;
    }
}
.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode header {
    background-color: #1f1f1f;
}

.dark-mode .property {
    background-color: #1e1e1e;
    color: white;
}

.dark-mode .why {
    background-color: #181818;
}

#darkToggle {
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.property-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
}

.properties h2 {
    margin-top: 60px;
    font-size: 28px;
}
